<mat-sidenav-container class="sidenav-container">
  <mat-toolbar class="tool-bar"color="white">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a class="Portfolio-bottom" mat-button [routerLink]="'/home'" >
      <mat-icon class="mat-icon-portfolio" svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon">
      </mat-icon>
      <span>MIBodega</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button [routerLink]="'/home'" >Inicio</a>
      <a mat-button [routerLink]="'/about'" >Acerca</a>

      <!-- <a mat-button [routerLink]="'/services'" >Servicios</a>-->
    </div>
  </mat-toolbar>
  <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
    <div fxLayout="column">
      <a mat-button [routerLink]="'/home'" >Inicio</a>
      <a mat-button [routerLink]="'/about'" >Acerca</a>
      <!--<a mat-button [routerLink]="'/services'" >Servicios</a>-->
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
